<nav class="navbar navbar-expand-lg bg-light">

    <div class="container-fluid">
        <div data-test="logo">
            <img src=".../../../../../assets/images/logomain.png" height="20" class="ms-3 me-3">
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" data-test="menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" data-test="home">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item" data-test="price">
                    <a class="nav-link" href="#">Price</a>
                </li>
                <li class="nav-item" data-test="guest">
                    <a class="nav-link" href="#">Guest</a>
                </li>
                <li class="nav-item" data-test="about">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>

        <form class="d-flex" role="search" data-test="search" >
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
  </nav>